@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --celeste: #6fd6ff;
  --negro: #000000;
  --blanco: #ffffff;
  --rosado: #fc9dd1;
  --gris: #888888;
  --claro: #d1d1d133;
  --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
  --borde: 0.2rem solid rgba(0, 0, 0, 0.1);
  --contorno: 0.1rem solid rgba(0, 0, 0, 0.1);
  --contorno-hover: 0.2rem solid var(--negro);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #f3f3f3;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 4vw;
  background: #fff;
  box-shadow: var(--box-shadow);
  z-index: 100;
}

.header .titulo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--negro);
}

.header .titulo_color {
  color: var(--rosado);
  font-size: 2.6rem;
}

.header .titulo i {
  color: var(--celeste);
  font-size: 2.6rem;
  margin-right: 0.3rem;
}

.header .navbar a {
  font-size: 1.8rem;
  margin: 0 1rem;
  color: var(--negro);
}

.header .navbar a:hover {
  color: var(--rosado);
}

/* Iconos de la barra de navegacion */

.header .iconos {
  display: flex;
}

.header .iconos div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: var(--claro);
  color: var(--celeste);
  margin-left: 1rem;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}

.header .iconos div:hover {
  background-color: var(--rosado);
  color: var(--negro);
}

#btn_menu {
  display: none;
}

/* Carrito de compras */

.header .carrito_compras {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 30rem;
  background: var(--blanco);
}

.header .carrito_compras.active {
  right: 2rem;
  transition: 0.3s linear;
}

.header .carrito_compras .box_carrito {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.header .carrito_compras .box_carrito img {
  height: 10rem;
}

.header .carrito_compras .box_carrito .basurin {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--gris);
  transform: translateY(-50%);
}

.header .carrito_compras .box_carrito .basurin:hover {
  color: var(--rosado);
}

.header .carrito_compras .box_carrito .contenedor h3 {
  color: var(--negro);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.header .carrito_compras .box_carrito .contenedor span {
  color: var(--gris);
  font-size: 1.5;
}

.header .carrito_compras .box_carrito .contenedor .cantidad {
  padding-left: 1rem;
}

.header .carrito_compras .total_precio {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--negro);
}

.header .carrito_compras .btn {
  display: block;
  text-align: center;
}

/* Login */

.header .form_login {
  position: absolute;
  top: 110%;
  right: -110%;
  box-shadow: var(--box-shadow);
  width: 30rem;
  padding: 2rem;
  border-radius: 0.3rem;
  background: var(--blanco);
  text-align: center;
}

.header .form_login.active {
  right: 2rem;
  transition: 0.3s linear;
}

.header .form_login h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--negro);
}

.header .form_login .box {
  width: 100%;
  margin: 0.7rem;
  background: var(--claro);
  padding: 1.6rem;
  border-radius: 0.5rem;
  color: var(--negro);
  text-decoration: none;
}

.header .form_login p {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  color: var(--gris);
}

.header .form_login p a {
  color: var(--celeste);
  text-decoration: underline;
}

/* Barra de Busqueda*/

.titulo_productos {
  margin-top: 12rem;
  text-align: center;
  font-size: 2.5rem;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}

.contenedor_search {
  align-items: center;
}

#search_contenedor {
  margin: 1rem 0;
}

#search_contenedor input {
  background-color: transparent;
  width: 25%;
  border-bottom: 2px var(--celeste) solid;
  padding: 1rem 0;
}

#search_contenedor input:focus {
  border-bottom-color: var(--rosado);
}

#search_contenedor button {
  padding: 1rem 1.5rem;
  margin: 1rem;
  background-color: var(--celeste);
  color: #fff;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
}

#search_contenedor button:hover {
  background-color: var(--rosado);
}

/* Categorias   */

.boton_categorias {
  border: 2px solid var(--rosado);
  padding: 1rem 2.2rem;
  border-radius: 3rem;
  background-color: transparent;
  color: var(--rosado);
  cursor: pointer;
}

.boton_categorias:hover {
  border-color: var(--celeste);
  color: var(--celeste);
}

.active {
  border-color: var(--celeste);
  color: var(--celeste);
}

/* Productos*/

#productos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1.5rem;
  padding: 3rem 0;
}

.card {
  background-color: var(--claro);
  max-width: 25rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  outline: var(--contorno);
  outline-offset: -0.5rem;
}

.card:hover {
  outline: var(--contorno-hover);
  outline-offset: 0rem;
}

.img_contenedor {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.contenedor_productos {
  padding-top: 1rem;
  color: var(--negro);
}

.contenedor_productos h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.contenedor_productos h4 {
  font-size: 1.1rem;
  font-weight: 900;
}

/* Media Queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #btn_menu {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110rem;
    width: 30rem;
    border-radius: 0.5rem;
    background: var(--blanco);
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.3s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  #productos {
    grid-template-columns: auto auto auto;
  }
}
